#homeBg{
  background-color:#63BFE7;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
}
*{
  margin:0;
}
html,body{
  height:100%;
  background-color:#A6EAB1;
}
h1, h2, h3, h4, h5, h6{
  margin-bottom:10px;
}
.active {
    background-color: #63BFE7;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:fixed;
    width:100%;
    height:55px;
    top:100px;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.sect{
  height:100%;
  background-size: auto 100%;
  background-position: left top;
  background-attachment: fixed;
}
.subSection1, .subSection2{
  height:100%;
  background-color: #E8F8F5;
  opacity: 100;
  text-align:center;
}
.sectOne{
  background-image:url("https://images.unsplash.com/photo-1516865690679-db5c36d24903?ixlib=rb-0.3.5&s=d5f4847da1300cf23adb9b766cf28511&auto=format&fit=crop&w=1950&q=80g");
  background-size:cover;
  margin-top: 150px;
}
.sectTwo{
  background-image:url("https://image.freepik.com/free-photo/mornitor-and-television-electronic-waset_7180-751.jpg");
  background-size:cover;
}
.sectThree{
  background-image:url("https://cdn.pixabay.com/photo/2015/01/15/16/17/hands-600497_960_720.jpg");
  background-size:cover;
}
#homeVid{
  width:60%;
  height: 300px;
  margin-left: 115px;
  margin-right:115px;
}
#shockFact{
  margin-left:100px;
  margin-right:100px;
  background-color: rgba(0,0,0,0.30);
  color:#fff;
  text-align:center;
  padding-left:15px;
  padding-right:15px;
  text-decoration: none;
  line-height: 130px;
}
.bindPopup{
  font-family:arial;
}
#list-builder {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    filter: alpha;
	  opacity: 0.8;
    display: none;
}

#popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #659E7B;
    color: #FFFFFF;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border: 10px solid #FFFFFF;
    display: none;
}

#popup-close {
    position: absolute;
    top: -25px;
    right: -25px;
    cursor: pointer;
    width: 40px;
}

#popup-box h1 {
    margin: 0;
}

#popup-box form {
    margin-bottom: 0px;
}

#popup-box button {
    margin: 40px 150px;
    width:50%;
    padding: 10px;
    border: 1px solid #333;
}
a{
color: black;
text-decoration: none;
display: block;

}
p{
  text-align:center;
}
#quizPopUpQ{
  text-align:center;
}
