@font-face, .techFont {
  font-family: titleFont;
  src:url("Digital_tech.otf");
}
#homeBg{
  background-color:#ade1ff;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  font-family:"titleFont";
  z-index: 10000;
}
#avatar{
  width:100px;
  height:100px;
  float:right;
  margin:25px 25px 10 0;
}
*{
  margin:0;
}
html,body{
  height:100%;
  background-color:#B7F39F;
}
h1, h2, h3, h4, h5, h6{
  margin-bottom:10px;
}
.active {
    background-color: #63BFE7;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:fixed;
    width:100%;
    height:55px;
    top:100px;
    background-color: #011f30;
    z-index: 10000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #095e63;
    text-decoration: none;
}
.sect{
  height:100%;
  background-size: auto 100%;
  background-position: left top;
  background-attachment: fixed;
}
.subSection1, .subSection2{
  height:100%;
  text-align:center;
}
.mapSect{
background-size:cover;
  margin-top: 150px;
}
.sectOne{
  background-image:url("https://images.unsplash.com/photo-1516865690679-db5c36d24903?ixlib=rb-0.3.5&s=d5f4847da1300cf23adb9b766cf28511&auto=format&fit=crop&w=1950&q=80g");
  background-size:cover;
  margin-top: 150px;
}
.sectTwo{
  background-image:url("https://image.freepik.com/free-photo/mornitor-and-television-electronic-waset_7180-751.jpg");
  background-size:cover;
}
.sectThree{
  background-image:url("https://cdn.pixabay.com/photo/2015/01/15/16/17/hands-600497_960_720.jpg");
  background-size:cover;
}
#homeVid{
  width:60%;
  height: 300px;
  margin-left: 115px;
  margin-right:115px;
}
#shockFact{
  margin-left:100px;
  margin-right:100px;
  background-color: rgba(0,0,0,0.30);
  color:#fff;
  text-align:center;
  padding-left:15px;
  padding-right:15px;
  text-decoration: none;
  line-height: 130px;
}
.bindPopup{
  font-family:arial;
}
.clearPic{
 background-image: url("green.jpg");
 background-size:cover;
 margin-top: 150px;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    margin-top:50px;
}

.modal-body {
  padding: 2px 16px;
  height: 250px;
  overflow-y: auto;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}
.question{
    font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #38a;
}
.subSectionInvolved1, .subSectionInvolved2{
 height:100%;
 text-align:center;
}
.sectGetInvolved1{
 background-image:url("https://images.unsplash.com/photo-1527800792452-506aacb2101f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae74c8b08acf55b1183e4ee28f77742e&auto=format&fit=crop&w=634&q=80");

 background-size:cover;
}
.sectGetInvolved2{
 background-image:url("https://images.unsplash.com/photo-1516865690679-db5c36d24903?ixlib=rb-0.3.5&s=d5f4847da1300cf23adb9b766cf28511&auto=format&fit=crop&w=1950&q=80g");

 background-size:cover;
 margin-top: 150px;
}
.sectGetInvolved3{
 background-image:url("https://images.unsplash.com/photo-1516865690679-db5c36d24903?ixlib=rb-0.3.5&s=d5f4847da1300cf23adb9b766cf28511&auto=format&fit=crop&w=1950&q=80g");
 background-size:cover;
 margin-top: 150px;
}
